<template name="card">
    <div class="card" style="box-shadow: 0px 0px 7px #00000069;">
        <div class="image" style="cursor: pointer;">
            <img src="{{imgFromBody this}}">
        </div>
        <span class="ui red label top left attached" style="border-radius: 0rem 0em 0.28571429rem 0em;">
                <i class="clock outline icon"></i> {{DisplayTimeFrom created}}
            </span> 
        <div class="content">
            <a href="/@{{author}}/{{permlink}}" class="header">{{title}}</a>
            <div class="meta" style="cursor: pointer;">
                <!-- <img class="ui avatar image" src="https://steemitimages.com/u/{{author}}/avatar"> -->
                <span class="category"> <a href="/@{{author}}">by {{#if
                    isWhitelisted author}}{{author}} ({{displayReputation author_reputation}})
                    <i class="ui icon check green"></i>
                    {{else}}{{author}} ({{displayReputation author_reputation}}) {{/if}}</a> </span>
            </div>
            <div class="description" style="margin-bottom: 0.5em;">{{shortDescription (xssShortFormatter (remarkableFormatter body))}}</div>
            <span class="tags">{{#each json_metadata.tags}}
                    {{#unless equals this 'grevons'}}
                    <a href="/{{this}}" class="ui mini {{colorByCategory this}} label noradius">{{this}}</a>{{/unless}}{{/each}}
                </span>
        </div>
        <div class="ui big label black fluid npdg noradius">
            {{>upvote}}
            </div>
    </div>
</template>