<template name="home">
    <div class="ui centered grid">
        <h2>Sélectionnez votre région.</h2>
        <div id="francemap"></div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">Pourquoi grevons?</h3>
                    <p>Explication</p>
                    <h3 class="ui header">Le but de la plateforme</h3>
                    <p>Explication
                    </p>
                </div>
            </div> 
        </div>
    </div>
</template>